body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

#calendar {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
}

#addEventBtn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addEventBtn:hover {
    background-color: #0056b3;
}

#eventModal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#eventModal.show {
    display: block;
}

#eventModal input,
#eventModal button {
    display: block;
    margin: 10px 0;
}

.event {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#themeToggle {
    margin-top: 20px;
    cursor: pointer;
}

body.dark {
    background-color: #333;
    color: white;
}

body.dark .day {
    background-color: #555;
}

body.dark #addEventBtn {
    background-color: #FF9800;
}

body.dark #addEventBtn:hover {
    background-color: #be7200;
}

body.dark h1, body.dark h2 {
    color: rgb(0, 0, 0);
  }